/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-black: #191919;
    --color-yellow: #F6C90E;
    --color-gray: #cecece;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-black);
    min-height: 200vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg_y {
    background-color: var(--color-yellow);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    height: 65px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 100;
}

.header .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
}

.header .header_container .menu_hamburguer{
    width: 3rem;
    height: 2rem;
    padding: .5rem;
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .header_container .menu_hamburguer.active {
    pointer-events: none;
}

.header .header_container .menu_hamburguer.active .row {
    transform: translateX(-3rem);
    opacity: 0;
}

.header .header_container .menu_hamburguer .row {
    width: 100%;
    height: .3rem;
    border-radius: 10px;
    background-color: #fff;
    transition: 200ms ease-in-out;
}

.header .header_container .menu_hamburguer .row:nth-child(2) {
    width: 75%;
    background-color: var(--color-yellow)  ;
    transition-duration: 300ms;
}

.header .header_container .menu_hamburguer .row:nth-child(3) {
    transition-duration: 400ms;
}

.header .header_container .logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 800;
    font-size: 1.7rem;
    letter-spacing: -1px;
}

.header .header_container .logo .icon_logo {
    color: var(--color-yellow);
    font-size: 2rem;
}

.header .header_container .user_button {
    font-size: 2.7rem;
    color: var(--color-yellow);
    cursor: pointer;
    border-radius: 20px;
    background-color: #000;
    padding: .5rem 2rem;
}

/* Main */

.main {
    background: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,1)), url(../imgs/main.jpg) ;
    width: 100vw;
    height: 95vh;
    background-size: cover;
/*     background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
}

.main .main_container {
    padding: 65px 30px 0px;
}

.main .main_container .left .release {
    color: var(--color-yellow);
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 50px;
    letter-spacing: .1rem;
}

.main .main_container .left .title {
    position: relative;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    margin-top: 15px;
    letter-spacing: 3px;
    width:fit-content;
}

.main .main_container .left .title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
    background-color: var(--color-yellow);
    height: .3rem;
    border-radius: 20px;
}

.main .main_container .left .info_movie .description {
    color: var(--color-gray);
    width: 40%;
    margin-top: 25px;
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: .1rem;
}

.main .main_container .left .info_movie .info_movie_mid {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    color: #fff;
}

.main .main_container .left .info_movie .info_movie_mid .rating {
    color: var(--color-yellow);
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.main .main_container .left .info_movie .info_movie_mid .rating span {
    color: #fff;
}

.main .main_container .left .info_movie .info_movie_mid .division {
    width: .7rem;
    height: .7rem;
    background-color: var(--color-yellow);
    border-radius: 50%;
}

.main .main_container .left .info_movie .info_movie_mid .classification span{
    color: var(--color-yellow);
}

.main .main_container .left .info_movie .info_movie_bottom {
    display: flex;
    align-items: center;
    font: 1.7rem;
    color: var(--color-gray);
    margin-top: 20px;
    letter-spacing: .1rem;
}

.main .main_container .left .info_movie .info_movie_bottom span {
    border-left: .1rem solid rgba(167, 167, 167, 0.719);
    padding: 0 1rem;
}

.main .main_container .left .info_movie .info_movie_bottom span:first-child {
    border: none;
    padding-left: 0;
}

.main .main_container .left .info_movie_mid .duration{
    font-size: 1.8rem;
}
.main .main_container .left .info_movie_mid .duration span{
    color: var(--color-yellow);
}

.main .main_container .left .play_movie {
    background-color: transparent;
    margin-top: 30px;
    
}

.main .main_container .left .play_movie a {
    position: relative;
    font-size: 2rem;
    color: var(--color-yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border: .1rem solid var(--color-yellow);
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
}

.main .main_container .left .play_movie a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-yellow);
    transition: all 200ms ease-in;
    z-index: -1;
}

.main .main_container .left .play_movie a:hover::after {
    width: 100%;
}

.main .main_container .left .play_movie a span {
    margin-right: 15px;
    color: #fff;
    transition: 200ms linear;
    font-weight: 600;
    letter-spacing: 1px;
}

.main .main_container .left .play_movie a:hover span {
    color: var(--color-black);
}

.main .main_container .left .play_movie a:hover i {
    color: var(--color-black);
}



/* ANIMAÇÕES */
